.App {
  text-align: center;
    font-family: 'Open Sans', sans-serif;
}


.App-header {
  background-color: #077ABC;
  height: 150px;
  padding: 20px;
  color: white;
}

.margin-top{
    margin-top: 20px;
}

.badge{
  font-size: 15px;
  margin-left: 10px;
  cursor:pointer;
  background-color: #5c8eb8;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
